.header {
  background: #76c7c0 url(../img/header/rule-bottom.png) left bottom repeat-x;

  &__wrap {
    margin: 0 auto;
    max-width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: #fff;
    font-size: 40px;
  }
}
