.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    
    &:hover {
      background-color: #62a29e;
      border-radius: 5px;
      border-bottom: 3px solid rgba(82, 139, 134, 0.6);
    }
  }

  &__link {
    display: block;
    padding: 5px 15px;

    color: #fff;
    font-size: 13px;
  }
}
