.nav {

  @media screen and (max-width:800px) {
    background-color: #62a29e;
    border-radius: 5px;
  }

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width:800px) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 5px;
    transition: all ease-out 0.05s;

    @media screen and (max-width:1000px) {
      margin-right: 0;
    }

    &-active {
      background-color: #62a29e;
      border-radius: 5px;
      border-bottom: 3px solid rgba(82, 139, 134, 0.6);
    }
    
    &:hover {
      background-color: #62a29e;
      border-radius: 5px;
      border-bottom: 3px solid rgba(82, 139, 134, 0.6);
    }
  }

  &__link {
    display: block;
    padding: 5px 15px;
    color: #fff;
    font-size: 13px;

    @media screen and (max-width:1000px) {
      padding: 5px;
    }

    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}
