@import "reset";
@import "header";
@import "navigation";
@import "slider";
@import "services";
@import "description";
@import "fontawesome";
@import "gallery";
@import "footer";

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

a {
  text-transform: uppercase;
}

.container {
  margin-bottom: 20px;
}
