@import "reset";
@import "header";
@import "navigation";
@import "slider";

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  background-color: #76c7c0;
}

a {
  text-transform: uppercase;
}
